services:
  web:
    build: .
    container_name: django
    restart: always
    ports:
      - "28000:8000"
    volumes:
      - ./testproject:/testproject
    environment:
      DJANGO_DEBUG: "True"